Service References/Service/TransportDocumentService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="https://www.pionira.be/api/v2" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TransportDocumentService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_ITransportDocumentService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Lax />
              </wsp:Policy>
            </sp:Layout>
            <sp:IncludeTimestamp />
          </wsp:Policy>
        </sp:TransportBinding>
        <sp:SignedSupportingTokens xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:UsernameToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
              <wsp:Policy>
                <sp:WssUsernameToken10 />
              </wsp:Policy>
            </sp:UsernameToken>
          </wsp:Policy>
        </sp:SignedSupportingTokens>
        <sp:Wss10 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy />
        </sp:Wss10>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="BasicHttpsBinding_ITransportDocumentService1_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Lax />
              </wsp:Policy>
            </sp:Layout>
            <sp:IncludeTimestamp />
          </wsp:Policy>
        </sp:TransportBinding>
        <sp:EndorsingSupportingTokens xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:X509Token sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
              <wsp:Policy>
                <sp:WssX509V3Token10 />
              </wsp:Policy>
            </sp:X509Token>
          </wsp:Policy>
        </sp:EndorsingSupportingTokens>
        <sp:Wss10 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:MustSupportRefKeyIdentifier />
            <sp:MustSupportRefIssuerSerial />
          </wsp:Policy>
        </sp:Wss10>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="https://www.pionira.be/api/v2" location="https://apps.xynaps.net/ws/v2/TransportDocumentService.svc?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="BasicHttpsBinding_ITransportDocumentService" type="i0:ITransportDocumentService">
    <wsp:PolicyReference URI="#BasicHttpsBinding_ITransportDocumentService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateTransportDocument">
      <soap:operation soapAction="https://www.pionira.be/api/v2/ITransportDocumentService/CreateTransportDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessDocument">
      <soap:operation soapAction="https://www.pionira.be/api/v2/ITransportDocumentService/ProcessDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateTransportDocumentAttachments">
      <soap:operation soapAction="https://www.pionira.be/api/v2/ITransportDocumentService/CreateTransportDocumentAttachments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTransportDocumentAttachments">
      <soap:operation soapAction="https://www.pionira.be/api/v2/ITransportDocumentService/GetTransportDocumentAttachments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTransportDocumentAttachment">
      <soap:operation soapAction="https://www.pionira.be/api/v2/ITransportDocumentService/GetTransportDocumentAttachment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTransportDocumentByExternalId">
      <soap:operation soapAction="https://www.pionira.be/api/v2/ITransportDocumentService/GetTransportDocumentByExternalId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTransportDocumentById">
      <soap:operation soapAction="https://www.pionira.be/api/v2/ITransportDocumentService/GetTransportDocumentById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTransportDocumentAsPdf">
      <soap:operation soapAction="https://www.pionira.be/api/v2/ITransportDocumentService/GetTransportDocumentAsPdf" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTransportDocuments">
      <soap:operation soapAction="https://www.pionira.be/api/v2/ITransportDocumentService/GetTransportDocuments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTransportDocumentStateByIds">
      <soap:operation soapAction="https://www.pionira.be/api/v2/ITransportDocumentService/GetTransportDocumentStateByIds" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTransportDocumentStateSince">
      <soap:operation soapAction="https://www.pionira.be/api/v2/ITransportDocumentService/GetTransportDocumentStateSince" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTransportDocumentStateHistoryByIds">
      <soap:operation soapAction="https://www.pionira.be/api/v2/ITransportDocumentService/GetTransportDocumentStateHistoryByIds" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTransportDocumentStateHistorySince">
      <soap:operation soapAction="https://www.pionira.be/api/v2/ITransportDocumentService/GetTransportDocumentStateHistorySince" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IssueTransportDocument">
      <soap:operation soapAction="https://www.pionira.be/api/v2/ITransportDocumentService/IssueTransportDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ArchiveTransportDocument">
      <soap:operation soapAction="https://www.pionira.be/api/v2/ITransportDocumentService/ArchiveTransportDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelTransportDocument">
      <soap:operation soapAction="https://www.pionira.be/api/v2/ITransportDocumentService/CancelTransportDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PrintTransportDocument">
      <soap:operation soapAction="https://www.pionira.be/api/v2/ITransportDocumentService/PrintTransportDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTransportDocument">
      <soap:operation soapAction="https://www.pionira.be/api/v2/ITransportDocumentService/UpdateTransportDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteGoodsByTransportDocumentExternalId">
      <soap:operation soapAction="https://www.pionira.be/api/v2/ITransportDocumentService/DeleteGoodsByTransportDocumentExternalId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteGoodsByTransportDocumentId">
      <soap:operation soapAction="https://www.pionira.be/api/v2/ITransportDocumentService/DeleteGoodsByTransportDocumentId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpsBinding_ITransportDocumentService1" type="i0:ITransportDocumentService">
    <wsp:PolicyReference URI="#BasicHttpsBinding_ITransportDocumentService1_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateTransportDocument">
      <soap:operation soapAction="https://www.pionira.be/api/v2/ITransportDocumentService/CreateTransportDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessDocument">
      <soap:operation soapAction="https://www.pionira.be/api/v2/ITransportDocumentService/ProcessDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateTransportDocumentAttachments">
      <soap:operation soapAction="https://www.pionira.be/api/v2/ITransportDocumentService/CreateTransportDocumentAttachments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTransportDocumentAttachments">
      <soap:operation soapAction="https://www.pionira.be/api/v2/ITransportDocumentService/GetTransportDocumentAttachments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTransportDocumentAttachment">
      <soap:operation soapAction="https://www.pionira.be/api/v2/ITransportDocumentService/GetTransportDocumentAttachment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTransportDocumentByExternalId">
      <soap:operation soapAction="https://www.pionira.be/api/v2/ITransportDocumentService/GetTransportDocumentByExternalId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTransportDocumentById">
      <soap:operation soapAction="https://www.pionira.be/api/v2/ITransportDocumentService/GetTransportDocumentById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTransportDocumentAsPdf">
      <soap:operation soapAction="https://www.pionira.be/api/v2/ITransportDocumentService/GetTransportDocumentAsPdf" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTransportDocuments">
      <soap:operation soapAction="https://www.pionira.be/api/v2/ITransportDocumentService/GetTransportDocuments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTransportDocumentStateByIds">
      <soap:operation soapAction="https://www.pionira.be/api/v2/ITransportDocumentService/GetTransportDocumentStateByIds" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTransportDocumentStateSince">
      <soap:operation soapAction="https://www.pionira.be/api/v2/ITransportDocumentService/GetTransportDocumentStateSince" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTransportDocumentStateHistoryByIds">
      <soap:operation soapAction="https://www.pionira.be/api/v2/ITransportDocumentService/GetTransportDocumentStateHistoryByIds" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTransportDocumentStateHistorySince">
      <soap:operation soapAction="https://www.pionira.be/api/v2/ITransportDocumentService/GetTransportDocumentStateHistorySince" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IssueTransportDocument">
      <soap:operation soapAction="https://www.pionira.be/api/v2/ITransportDocumentService/IssueTransportDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ArchiveTransportDocument">
      <soap:operation soapAction="https://www.pionira.be/api/v2/ITransportDocumentService/ArchiveTransportDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelTransportDocument">
      <soap:operation soapAction="https://www.pionira.be/api/v2/ITransportDocumentService/CancelTransportDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PrintTransportDocument">
      <soap:operation soapAction="https://www.pionira.be/api/v2/ITransportDocumentService/PrintTransportDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTransportDocument">
      <soap:operation soapAction="https://www.pionira.be/api/v2/ITransportDocumentService/UpdateTransportDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteGoodsByTransportDocumentExternalId">
      <soap:operation soapAction="https://www.pionira.be/api/v2/ITransportDocumentService/DeleteGoodsByTransportDocumentExternalId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteGoodsByTransportDocumentId">
      <soap:operation soapAction="https://www.pionira.be/api/v2/ITransportDocumentService/DeleteGoodsByTransportDocumentId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TransportDocumentService">
    <wsdl:port name="BasicHttpsBinding_ITransportDocumentService" binding="tns:BasicHttpsBinding_ITransportDocumentService">
      <soap:address location="https://apps.xynaps.net/ws/v2/TransportDocumentService.svc/upwd" />
    </wsdl:port>
    <wsdl:port name="BasicHttpsBinding_ITransportDocumentService1" binding="tns:BasicHttpsBinding_ITransportDocumentService1">
      <soap:address location="https://apps.xynaps.net/ws/v2/TransportDocumentService.svc/cert" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>